#home{
    margin-top:0rem;
}
header {
    height: 100vh;
    padding-top: 15rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}
/* ============= Span ========== */
.letter-container{
    display: inline-block;
    text-align: left;
    width: max-content;
    height: max-content;
    padding-bottom: 0;
}

.text-span {
    display: inline-block;
    font-size: 10vh;
}

.text_light {
    font-size: 1rem;
    color: #7b90a5;
}

/* ============= CTA ========== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ============= Header Socials ========== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0rem;
    bottom: 3rem;   
}

.header__socials a {
    background: white;
    color: var(--color-primary);
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,0.5);
}

.header__socials a:hover{
    color: #fff;
    transform: translate(0, -10px);
}

.linkedIn:hover {
    background: #0A66C2;
}

.gitHub:hover {
    background: #131418;
}
.vercel:hover {
    background: #000000;
}

.faceBook:hover {
    background: #1877F2;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/* ============= Image ========== */

/*.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}*/


/* ============= Scroll Down ========== */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =================== */

@media screen and (max-width: 1024px) {
   header {
    height: 100vh;
    padding-top: 10rem;
   }
   .header__container{
    padding-top: 10rem;
   }
   .text-span{
    font-size: 8vh;
   }
} 

/* =================== MEDIA QUERIES (SMALLDEVICES) =================== */

@media screen and (max-width: 600px) {
    header {
        height: 140vh;
        padding-top: 0;
       }
       .header__container{
        padding-top: 10rem;
       }
    .header__socials, .scroll__down {
        display: none;
       }
}